.App {
  text-align: center;
}

.App-header {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.menu {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.menu button{
  width: 100px;
  height: 30px;
}
