@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    font-family: Roboto;
    color: black;
}

.Navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}
.Navbar h1{
    margin-right: auto;
}
.Navbar .links {
    margin-left: auto;
}
.Navbar a {
    color: rgb(116, 116, 116);
    font-weight: 550;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.Navbar a:hover {
    color: black;
}

.Content {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
}

.Footer {
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    border-top: 1px solid #f2f2f2;
}

.Contact{
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
}
.Contact .Map{
    margin-right: 20%;
}
.ProductList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & p{
        width: auto;
        margin: 15px;
    }
    & .Product-Preview{
        border:rgb(129, 129, 129) solid 0.5px;
        border-radius: 30px;
        overflow: hidden;
        position:relative;
        margin: 10px;
        width: 300px;
        height: 400px;
        
        text-align: center;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        
        .backdrop {
            background-size: cover;
            background-repeat: none;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.55;
            z-index:-1;
        }
        & h2 {
        margin: 5px;
        }
        
    }
    & .Product-Preview:hover{
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.6);
        transform: translate(-1px, -1px);
    }
}