@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*{
  margin: 0px;
  font-family: Roboto;
  color: black;
}

.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.Navbar h1{
  margin-right: auto;
}
.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  color: rgb(116, 116, 116);
  font-weight: 550;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: black;
}
.Content {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}