@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');


$green-theme: #00a170;
$text-color: #363945;

//default all pages components
*{
    margin: 0px;
    font-family: Roboto;
    color: black;
}

.Navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #a0a0a0;
}
.Badge{
    background-color: $green-theme;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.Navbar h1{
    margin-right: auto;
}
.Navbar .links {
    margin-left: auto;
}
.Navbar a {
    color: rgb(116, 116, 116);
    font-weight: 550;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.Navbar a:hover {
    color: black;
}

.Content {
    //max-width: 80%;
    margin: 40px auto;
    //padding: 20px;
}

.Footer {
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    border-top: 1px solid #a0a0a0;
}

//Home page

.Home{
    color: $text-color;

    h2{
        font-size: 30px;
        margin-left: 15%;
        margin-bottom: 50px;
    }

    .SectionOne{
        padding: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20%;
        height: auto;
        margin-bottom: 30px;
    
        .img1{
            grid-column: 1 / 2;
            width: 99.2vw;
            height: auto;
        }
        .text1{
            background-color: rgb(206, 206, 206);
            border-radius: 30px;
            box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6);
            margin: 30px;
            padding: 10px;
            display: flex;
            grid-column: 2;
            grid-row: 2;
            align-items: center;
            height: auto;
            
        }
    }
    .SectionTwo{
        padding: 0px;
        display: grid;
        grid-template-columns: 5% 45% 50%;
        grid-template-rows: repeat(10, 10%);
        height: auto;
        margin-bottom: 30px;
    
        .img2{
            grid-column: 1;
            margin-left: auto;
            width: auto;
            height: 700px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .text2{
            margin: 30px;
            display: flex;
            grid-column: 3;
            grid-row: 3 / 6;
            align-items: center;
            box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6);
            border-radius: 20px;
            padding: 20px;
        }
    }
    .SectionThree{
        padding: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 20%);
        height: auto;
        margin-bottom: 30px;
    
        .img3{
            grid-column: 1 / 2;
            width: 99.2vw;
            height: auto;
        }
        .text3{
            background-color: rgb(206, 206, 206);
            border-radius: 30px;
            box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6);
            margin: 30px;
            padding: 10px;
            display: flex;
            grid-column: 1;
            grid-row: 4;
            align-items: center;
            height: auto;
            
        }
    }

    .SectionFour{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: minmax(100px, auto);
        height: auto;
        margin-bottom: 30px;
    
        .img4{
            width: auto;
            height: 500px;
            border-radius: 50%;
            margin-left: 15%;
            grid-column: 2;

        }
        .text4{
            margin: 30px;
            display: flex;
            grid-column: 1;
            align-items: center;
            grid-row: 1;
        }
    }
}




//Products page

.ProductList{
    color: $green-theme;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    .Product-Preview{
        border:rgb(129, 129, 129) solid 0.5px;
        border-radius: 30px;
        overflow: hidden;
        position:relative;
        margin: 10px;
        width: 300px;
        height: 400px;        
        text-align: center;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        
        p{
            width: auto;
            margin: 15px;
            color: $text-color;
            font-weight: 500;
            
        }

        .backdrop {
            background-size: cover;
            background-repeat: none;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.8;
            z-index:-1;
        }

        h2 {
        margin: 5px;
        }

        button {
            box-sizing: border-box;
            appearance: none;
            background-color: white;
            border: 2px solid $green-theme;
            border-radius: 0.6em;
            color: $text-color;
            cursor: pointer;
            align-self: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            margin: 8px;
            padding: 0.8em 1.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            border-color: $green-theme;
            box-shadow: 0 0 40px 40px $green-theme inset, 0 0 0 0 $green-theme;
            transition: all 150ms ease-in-out;

            &:hover {
                box-shadow: 0 0 10px 0 $green-theme inset, 0 0 10px 4px $green-theme;
            }
        }
        .Description{
            background-color: rgb(206, 206, 206);
            border-radius: 30px;
            box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6);
            display: flex;
            align-items: center;
            height: auto;
        }
    }

    .Product-Preview:hover{
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.6);
        transform: translate(-1px, -1px);
    }
    
}

//Contact Page

.Contact{
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
}
.Contact .Map{
    margin-right: 20%;
}

//Shopping cart page
//...